[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "8.3.4"
pytest-cov = "6.0.0"
pytest-docker = "3.1.2"
black = "*"
mypy = "*"
flake8 = "*"

[packages]
pika = "1.3.2"
fastapi = "0.115.8"
loguru = "*"
python-dotenv = "*"
uvicorn = { version = "*", extras = ["dev"] }

[requires]
python_version = "3.9"